/egucepayment-restapi/catalina.base_IS_UNDEFINED/
/egucepayment-restapi/nbproject/
/egucepayment-restapi/target/

/egucepayment-ng/.sass-cache/
/egucepayment-ng/node_modules/
/egucepayment-ng/egucepayment/
/data-migrator/target/