<div class="layout-wrapper" [ngClass]="{'layout-compact':layoutCompact}" (click)="onLayoutClick()">

    <p-growl [(value)]="msgs" [life]="9000"></p-growl>

    <div #layoutContainer class="layout-container" 
            [ngClass]="{'menu-layout-static': !isOverlay(),
            'menu-layout-overlay': isOverlay(),
            'layout-menu-overlay-active': overlayMenuActive,
            'menu-layout-horizontal': isHorizontal(),
            'menu-layout-slim': isSlim(),
            'layout-menu-static-inactive': staticMenuDesktopInactive,
            'layout-menu-static-active': staticMenuMobileActive}">

        <app-topbar></app-topbar>

        <div class="layout-menu" [ngClass]="{'layout-menu-dark':darkMenu}" (click)="onMenuClick($event)">
            <div #layoutMenuScroller class="nano">
                <div class="nano-content menu-scroll-content">
                    <app-menu [reset]="resetMenu"></app-menu>
                </div>
            </div>
        </div>
        
        <div class="layout-main">
            <router-outlet></router-outlet>
            <app-loader></app-loader>
            <app-footer></app-footer>
        </div>
        
        <div class="layout-mask"></div>
    </div>

        <p-dialog [(visible)]="lockScreen" [modal]="true" width="600" [responsive]="true" [closable]="false" [closeOnEscape]="false"
        [showHeader]="false" [draggable]="false">
            <app-alert [(message)]="alertMessage"></app-alert>
            <div class="card">
                <div class="card-header h5">{{'screen.locked' | translate}}</div>
                <div class="card-block">
                    <form #loginForm="ngForm" (submit)="login()" role="form" class="form-validation">
                        <div *ngIf="false" class="row form-group">
                            <label for="userLogin" class="col-md-4 control-label">{{'login' | translate}}</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="userLogin" [(ngModel)]="userLogin" [required]="true" name="userLogin">
                            </div>
                        </div>
                        <div class="row form-group">
                            <label for="password" class="col-md-4 control-label">{{'password' | translate}}</label>
                            <div class="col-md-8">
                                <input type="password" class="form-control" id="password" [(ngModel)]="password" [required]="true" name="password">
                            </div>
                        </div>
                        <span class="pull-right">
                            <button [disabled]="!loginForm.valid" pButton type="submit" label="{{'sign.in' | translate}}" icon="ui-icon-person"></button>
                        </span>
                    </form>
                </div>
            </div>
        </p-dialog>
</div>