<html>
		<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
	</head>
 
<body>
Bonjour ${firstName},
<br><br>
	Vous avez demandé un nouveau mot de passe
<br><br>
<span style="text-decoration: underline;">Votre login :</span> ${login}<br>
</br>
<span style="text-decoration: underline;">Votre nouveau mot de passe :</span> ${motDePasse}<br>


<br>
<br> 

Merci,<br> 
L'équipe GUCE<br>
</body>
</html>