$primaryColor: #034f84;
$primaryDarkColor: rgb(0, 51, 102);
$primaryLightColor: #87bdd8;
$accentColor: #ef7329;
$accentDarkColor: #ff7b25;
$accentLightColor: #feb236;
$accentTextColor: #ffffff;
$darkMenuBgColor: #424242;
$darkMenuHoverColor: #676767;
$darkMenuRouterLinkActiveColor: #9fa8da;
$lightMenuRouterLinkActiveColor: #034f84;
$horizontalLightMenuRouterLinkActiveColor: #87bdd8;

@import '../../sass/layout/_layout';